@model IEnumerable<Geonorge.Kartografi.Models.Dataset>

    @foreach (var item in Model)
    {
        <div class="dataset-list metadata" onclick="ToogleContent(this)">
            <div class="row">
                <div class="col-sm-4">
                    <div class="title-field">
                        <span class="arrow-icon toggle-content-button"></span> @Html.ActionLink(item.DatasetName ?? "->", "Files", new { uuid = item.DatasetUuid })
                    </div>
                </div>

                <div class="col-sm-4">
                    @Html.DisplayFor(modelItem => item.OwnerDataset)
                </div>

                <div class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Theme)
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="file-list">
                <div class="row">
                    <div class="col-sm-10"></div>

                    <div class="clearfix"></div>
                </div>
                @foreach (var file in item.Files)
                {
                    <div class="file-list-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="title-field">
                                    <span>- </span>@Html.ActionLink(file.Name ?? "->", "Details", new { SystemId = file.SystemId })
                                    <a href="@file.FileUrl()" class="pull-right" target="_blank">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                @file.Owner
                            </div>

                            <div class="col-sm-1 official-field">
                                <span class="custom-checkbox">@Html.DisplayFor(modelItem => file.OfficialStatus)</span>
                            </div>

                            <div class="col-sm-1">
                                @Html.DisplayFor(modelItem => file.Format)
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>

        </div>      
      <hr />
    }
    <div class="last"><a href="~/Files/CartographyList?page=@(ViewBag.Page)&sortOrder=@(ViewBag.SortOrder)&text=@ViewBag.text&limitofficial=@ViewBag.limitofficial.ToString()">Laster...</a></div>