@using Geonorge.Kartografi.Models
@using Geonorge.Kartografi.Services
@using Geonorge.Kartografi.Resources
@model Geonorge.Kartografi.Models.CartographyFile

<div class="row result-row metadata cartography-metadata">
    <div class="col-img col-xs-6 col-sm-2">
        <a href="@Model.FileUrl()" target="_blank">
            <img src="@Model.PreviewImageUrl()" />
        </a>
    </div>
    <div class="col-no-padding-xs col-title col-sm-4 col-md-5">
        <p><span class="cartography-metadata-name">@UI.Owner: </span>@Model.OwnerTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.Description: </span>@Model.DescriptionTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.Use: </span>@Model.UseTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.Properties: </span>@Model.PropertiesTranslated()</p>
    </div>

    <div class="col-no-padding-xs col-sm-3 col-md-2 col-information">
        <p><span class="cartography-metadata-name">@UI.Official: </span>@(Model.OfficialStatus ? UI.Yes : UI.No)</p>
        <p><span class="cartography-metadata-name">Status: </span>@Model.StatusTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.Version: </span>@Model.VersionId</p>
        @if (ViewBag.IsAdmin)
        {
            <p><span>@UI.LastEditedBy: </span>@Model.LastEditedBy</p>
        }
        <p><span class="cartography-metadata-name">@UI.DateChanged: </span>@Model.DateChanged</p>
    </div>
    <div class="col-sm-3">
        <p><span class="cartography-metadata-name">@UI.DatasetName: </span>@Model.DatasetNameTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.OwnerDataset: </span>@Model.OwnerDatasetTranslated()</p>
        <p><span class="cartography-metadata-name">@UI.Service: </span>@Model.ServiceNameTranslated()</p>
    </div>
</div>

        <a href="@Model.FileUrl()" class="btn" target="_blank">
            <span class="custom-icon custom-icon-eksternlink"></span> @UI.DisplayFile
        </a>
        <a href="@VirtualPathUtility.ToAbsolute("~/Files/Download/")@Model.SystemId" class="btn" target="_blank">
            <span class="glyphicon glyphicon-download-alt"></span> @UI.Download
        </a>
        @if (ViewBag.HasAccess)
        {
            <a class="btn" href="@VirtualPathUtility.ToAbsolute("~/Files/Edit/")@Model.SystemId"><span class="fa fa-edit"></span> @UI.Edit</a>
            <a class="btn" href="@VirtualPathUtility.ToAbsolute("~/Files/Delete/")@Model.SystemId"><span class="fa fa-trash"></span> @UI.Delete</a>
            <a class="btn pull-right" href="@VirtualPathUtility.ToAbsolute("~/Files/Edit/")@Model.SystemId?newversion=true"><span class="fa fa-copy"></span> @UI.Add @UI.Version</a>
        }
    <div class="clearfix"></div>

<span class="separator-small margin-top-10"></span>

    
    @Html.Partial("_Sld", Model)
