@using Geonorge.Kartografi.Models
@using Geonorge.Kartografi.Services
@model Geonorge.Kartografi.Models.CartographyFile

<div class="row result-row metadata cartography-metadata">
    <div class="col-img col-xs-6 col-sm-2">
        <a href="@Model.FileUrl()" target="_blank">
            <img src="@Model.PreviewImageUrl()" />
        </a>
    </div>
    <div class="col-no-padding-xs col-title col-sm-4 col-md-5">
        <p><span class="cartography-metadata-name">Eier: </span>@Model.Owner</p>
        <p><span class="cartography-metadata-name">Beskrivelse: </span>@Model.Description</p>
        <p><span class="cartography-metadata-name">Bruksområde: </span>@Model.Use</p>
        <p><span class="cartography-metadata-name">Viktig egenskap for kartografien: </span>@Model.Properties</p>
    </div>

    <div class="col-no-padding-xs col-sm-3 col-md-2 col-information">
        <p><span class="cartography-metadata-name">Offisiell: </span>@(Model.OfficialStatus ? "Ja" : "Nei")</p>
        <p><span class="cartography-metadata-name">Status: </span>@CodeList.Status[Model.Status]</p>
        <p><span class="cartography-metadata-name">Versjon: </span>@Model.VersionId</p>
        @if (ViewBag.IsAdmin)
        {
            <p><span>Redigert av: </span>@Model.LastEditedBy</p>
        }
        <p><span class="cartography-metadata-name">Sist oppdatert: </span>@Model.DateChanged</p>
    </div>
    <div class="col-sm-3">
        <p><span class="cartography-metadata-name">Datasett: </span>@Model.DatasetName</p>
        <p><span class="cartography-metadata-name">Datasetteier: </span>@Model.OwnerDataset</p>
        <p><span class="cartography-metadata-name">Tjeneste: </span>@Model.ServiceName</p>
    </div>
</div>

        <a href="@Model.FileUrl()" class="btn" target="_blank">
            <span class="custom-icon custom-icon-eksternlink"></span> Vis fil
        </a>
        <a href="~/Files/Download/@Model.SystemId" class="btn" target="_blank">
            <span class="glyphicon glyphicon-download-alt"></span> Last ned
        </a>
        @if (ViewBag.HasAccess)
        {
            <a class="btn" href="~/Files/Edit/@Model.SystemId"><span class="fa fa-edit"></span> Rediger</a>
            <a class="btn" href="~/Files/Delete/@Model.SystemId"><span class="fa fa-trash"></span> Slett</a>
            <a class="btn pull-right" href="~/Files/Edit/@Model.SystemId?newversion=true"><span class="fa fa-copy"></span> Legg til ny versjon</a>
        }
    <div class="clearfix"></div>

<span class="separator-small margin-top-10"></span>

    
    @Html.Partial("_Sld", Model)
