@using Geonorge.Kartografi.Models
@using Geonorge.Kartografi.Services
@{ 
    List<SldRule> sldRules = new SldParser().Get(Model.fileUrl);
}

@if(sldRules != null)
{
    foreach(var sld in sldRules)
    {
        <div class="row">
            <div class="col-sm-12">
                    @if (sld.WellKnownName == "circle")
                    {
                        <svg width="100" height="100">
                            <circle cx="50" cy="50" r="40"
                                    stroke-width="@sld.StrokeWidth" fill="@sld.Fill" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "square" || sld.WellKnownName == "triangle")
                    {
                        <svg width="100" height="100">
                            <rect width="100" height="100"
                                  fill="@sld.Fill" stroke-width="10" stroke="@sld.Stroke" />
                        </svg>
                    }
                <span>@sld.Name</span>
            </div>
        </div>
    }
}