@using Geonorge.Kartografi.Models
@using Geonorge.Kartografi.Services
@{ 
    List<SldRule> sldRules = new SldParser().Get(Model.fileUrl);
}
<div class="row"></div>
@if(sldRules != null)
{
    foreach(var sld in sldRules)
    {
        <div class="row">
            <div class="col-sm-2">
                    @if (!string.IsNullOrEmpty(sld.ExternalGraphicHref))
                        {
                        <img src="@sld.ExternalGraphicHref" />
                    }
                    else if (sld.WellKnownName == "circle")
                    {
                        <svg width="100" height="100">
                            <circle cx="50" cy="50" r="40"
                                    stroke-width="@sld.StrokeWidth" fill="@sld.Fill" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "square" || sld.WellKnownName == "")
                    {
                        <svg width="100" height="100">
                            <rect width="100" height="100"
                                  fill="@sld.Fill" stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "triangle")
                    {
                        <svg height="100" width="100">
                            <polygon points="50,0 100,100 0,100"
                                     fill="@sld.Fill" stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.Symbolizer == "point" && (sld.WellKnownName == "cross" || sld.WellKnownName == "cross_fill"))
                    {
                        <svg height="100" width="100">
                            <rect width="20" height="100" x="40" y="0"
                                  stroke-width="@sld.StrokeWidth" fill="@sld.Fill" stroke="@sld.Stroke" />
                            <rect width="100" height="20" x="0" y="40"
                                  stroke-width="@sld.StrokeWidth" fill="@sld.Fill" stroke="@sld.Stroke" />
                            <!--Trengte denne, hvis ikke ble det "stroke" over delen i midten-->
                            <rect width="20" height="25" x="40" y="38" fill="@sld.Fill" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "cross2")
                    {
                        <svg height="100" width="100">
                            <polygon points="0,0 100,100"
                                     stroke="@sld.Stroke" fill="@sld.Fill" stroke-width="@sld.StrokeWidth" />
                            <polygon points="0,100 100,0"
                                     stroke="@sld.Stroke" fill="@sld.Fill" stroke-width="@sld.StrokeWidth" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "line")
                    {
                        <svg height="100" width="100">
                            <!--Denne er for bakgrunnnen/kanten rundt-->
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <!--Her starter linjene-->
                            <rect width="1" height="90" x="13" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="26" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="39" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="51" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="64" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="75" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="88" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "horline")
                    {
                        <svg height="100" width="100">
                            <!--Denne er for bakgrunnnen/kanten rundt-->
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <!--Her starter linjene-->
                            <rect width="90" height="1" x="5" y="13"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="26"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="39"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="51"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="64"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="75"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="88"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.Symbolizer == "polygon" && sld.WellKnownName == "cross")
                    {
                        <svg height="100" width="100">
                            <!--Denne er for bakgrunnnen/kanten rundt-->
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <!--Her starter linjene-->
                            <rect width="90" height="1" x="5" y="13"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="26"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="39"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="51"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="64"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="75"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="90" height="1" x="5" y="88"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="13" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="26" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="39" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="51" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="64" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="75" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <rect width="1" height="90" x="88" y="5"
                                  stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "slash")
                    {
                        <svg height="100" width="100">
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <polygon points="5,95 95,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,75 75,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,50 50,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,25 25,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="25,95 95,25"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="50,95 95,50"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="75,95 95,75"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "backslash")
                    {
                        <svg height="100" width="100">
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <polygon points="5,5 95,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,25 75,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,50 50,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,75 25,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="25,5 95,75"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="50,5 95,50"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="75,5 95,25"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                    else if (sld.WellKnownName == "x")
                    {
                        <svg height="100" width="100" id="x">
                            <rect width="100" height="100"
                                  fill="rgb(255,255,255)" stroke-width="4" stroke="rgb(0,0,0)" />
                            <polygon points="5,5 95,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,25 75,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,50 50,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,75 25,95"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="25,5 95,75"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="50,5 95,50"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="75,5 95,25"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,95 95,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,75 75,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,50 50,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="5,25 25,5"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="25,95 95,25"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="50,95 95,50"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                            <polygon points="75,95 95,75"
                                     stroke-width="@sld.StrokeWidth" stroke="@sld.Stroke" />
                        </svg>
                    }
                </div>
            <div class="col-sm-10">
                @sld.Name
            </div>
        </div>
    }
}