@using Geonorge.Kartografi.Resources
@model Geonorge.Kartografi.Models.CartographyFile

@{
    ViewBag.Title = UI.Delete;
}

@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/")">@UI.CartographyRegistery</a></li>
    <li><a href="@VirtualPathUtility.ToAbsolute("~/Files/Details/")@Model.SystemId">@Model.NameTranslated()</a></li>
    <li>@UI.Delete</li>
}

<h2>@UI.Delete @Model.NameTranslated()</h2>

<h3>@UI.DeleteConfirm @Model.NameTranslated()?</h3>
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/Files/Details/")@Model.SystemId">@UI.Back</a>
            <input type="submit" value="@UI.Delete" class="btn btn-default pull-right" />
        </div>
    </div>
}
</div>
