@using Geonorge.Kartografi.Resources
@using Geonorge.Kartografi.Services
﻿@model Geonorge.Kartografi.Models.VersionsItem

@{
    ViewBag.Title = Model.CurrentVersion.Name;
}

@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/")">@UI.CartographyRegistery</a></li>
    @if (Model.CurrentVersion.DatasetUuid != null) { 
    <li><a href="@VirtualPathUtility.ToAbsolute("~/Files/Files?uuid=")@Model.CurrentVersion.DatasetUuid">@Model.CurrentVersion.DatasetNameTranslated()</a></li>
    }
    <li>@Model.CurrentVersion.NameTranslated()</li>
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Model.CurrentVersion.NameTranslated()
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12">
        <ul class="page-header nav nav-tabs nav-tabs-topp" style="display:block; padding-bottom:0px;">
            <li class="tab active"><a aria-expanded="false" href="#gjeldende" id="gjeldendeLink" data-toggle="tab">@UI.Current</a></li>

            <li class="tab pull-right"><a aria-expanded="false" href="#forslag" id="forslagLink" data-toggle="tab">@UI.Proposal</a></li>

            <li class="tab pull-right"><a aria-expanded="false" href="#historiske" id="historiskeLink" data-toggle="tab">@UI.Historical</a></li>
        </ul>
        <br />
    </div>
</div>


<div class="row">
    <div class="tab-content col-lg-12">
        <div class="tab-pane active" id="gjeldende">
            @Html.Partial("_FileData", Model.CurrentVersion)
        </div>
        <div class="tab-pane search-results" id="historiske">
            @if (Model.Historical != null && Model.Historical.Count > 0)
            {
                <div class="row search-results-table-heading">
                    <div class="col-lg-4"><b>@UI.Title</b></div>
                    <div class="col-lg-3"><b>@UI.Owner</b></div>
                    <div class="col-lg-2"><b>@UI.Version</b></div>
                    <div class="col-lg-3"><b>Status</b></div>
                </div>
                    <div class="menu-separator search-results-table-heading"></div>
                foreach (var historical in Model.Historical)
                {
                    <div class="row result-row metadata">
                        <div class="col-lg-4">
                            <a href="@VirtualPathUtility.ToAbsolute("~/Files/File/")@historical.SystemId">@historical.NameTranslated()</a>
                        </div>
                        <div class="col-lg-3">@historical.OwnerTranslated()</div>
                        <div class="col-lg-2">@historical.VersionId</div>
                        <div class="col-lg-3">@historical.StatusTranslated()</div>
                    </div>
                }
            }
            else
            {
                <span>@UI.NoFiles</span>
            }
        </div>
        <div class="tab-pane search-results" id="forslag">
            @if (Model.Suggestions != null && Model.Suggestions.Count > 0)
            {
                <div class="row search-results-table-heading">
                    <div class="col-lg-4"><b>@UI.Title</b></div>
                    <div class="col-lg-3"><b>@UI.Owner</b></div>
                    <div class="col-lg-2"><b>@UI.Version</b></div>
                    <div class="col-lg-3"><b>Status</b></div>
                </div>
                    <div class="menu-separator search-results-table-heading"></div>
                foreach (var suggestion in Model.Suggestions)
                {
                    <div class="row result-row metadata">
                        <div class="col-lg-4">
                            <a href="@VirtualPathUtility.ToAbsolute("~/Files/File/")@suggestion.SystemId">@suggestion.NameTranslated()</a>
                        </div>
                        <div class="col-lg-3">@suggestion.OwnerTranslated()</div>
                        <div class="col-lg-2">@suggestion.VersionId</div>
                        <div class="col-lg-3">@suggestion.StatusTranslated()</div>
                    </div>
                }
            }
            else
            {
                <span>@UI.NoFiles</span>
            }
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
            <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/Files/Files?uuid=")@Model.CurrentVersion.DatasetUuid">@UI.Back</a>
        </div>
    </div>
</div>


