@model Geonorge.Kartografi.Models.CartographyFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CartographyFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Use)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Use)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetUuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetUuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceUuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceUuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviewImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviewImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateChanged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateChanged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptedComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Properties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Properties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
