@using Geonorge.Kartografi.Services
﻿@model Geonorge.Kartografi.Models.VersionsItem

@{
    ViewBag.Title = Model.CurrentVersion.Name;
}

@section breadcrumb {
    <li><a href="~/tegneregler/">Digital kartografi og symboler</a></li>
    <li>@Model.CurrentVersion.Name</li>
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Model.CurrentVersion.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="page-header nav nav-tabs nav-tabs-topp" style="display:block; padding-bottom:0px;">
                <li class="tab active"><a aria-expanded="false" href="#gjeldende" id="gjeldendeLink" data-toggle="tab">Gjeldende</a></li>

                <li class="tab pull-right"><a aria-expanded="false" href="#forslag" id="forslagLink" data-toggle="tab">Forslag</a></li>

                <li class="tab pull-right"><a aria-expanded="false" href="#historiske" id="historiskeLink" data-toggle="tab">Historiske</a></li>
            </ul>
            <br />
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="gjeldende">
                <div class="row result-row metadata">
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                        <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <a href="~/files/@Model.CurrentVersion.FileName" target="_blank">
                                <img src="~/files/@Model.CurrentVersion.PreviewImage" />
                             </a>   
                        </div>
                        <div class="col-no-padding-xs col-title col-sm-4 col-md-4 col-lg-4">
                            <p>@Model.CurrentVersion.Name</p>
                            <p>@Model.CurrentVersion.OwnerOrganization</p>
                            <p>@Model.CurrentVersion.Description</p>       
                        </div>
                        <div class="col-no-padding-xs col-actions col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <a href="~/files/@Model.CurrentVersion.FileName" class="btn" target="_blank">
                                <span class="glyphicon glyphicon-download-alt"> </span>Last ned
                            </a><br />
                            <a class="btn btn-default btn-space" href="~/tegneregler/Edit/@Model.CurrentVersion.SystemId">Rediger</a>
                            <a class="btn btn-default btn-space" style="margin-left: 15px;" href="~/tegneregler/Delete/@Model.CurrentVersion.SystemId">Slett</a>
                            <a class="btn btn-default btn-space pull-right" href="~/tegneregler/Edit/@Model.CurrentVersion.SystemId?newversion=true">Foreslå ny versjon</a>
                        </div>
                        <div class="col-no-padding-xs col-xs-12 col-sm-4 col-md-4 col-lg-4 col-information pull-right">
                            <p><span>Offisiell: </span>@(Model.CurrentVersion.OfficialStatus ? "ja" : "nei")</p>
                            <p><span>Status: </span>@CodeList.Status[Model.CurrentVersion.Status]</p>
                            <p><span>Versjon: </span>@Model.CurrentVersion.VersionId</p>
                        </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="historiske">
                @if (Model.Historical != null && Model.Historical.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-4"><b>Tittel</b></div>
                        <div class="col-lg-3"><b>Eier</b></div>
                        <div class="col-lg-2"><b>Utgave</b></div>
                        <div class="col-lg-3"><b>Status</b></div>
                    </div>
                    foreach (var historical in Model.Historical)
                    {
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="~/tegneregler/Edit/@historical.SystemId">@historical.Name</a>
                        </div>
                        <div class="col-lg-3">@historical.OwnerOrganization</div>
                        <div class="col-lg-2">@historical.VersionId</div>
                        <div class="col-lg-3">@CodeList.Status[historical.Status]</div>
                    </div>
                    }
                }
                else
                {
                   <span>Ingen filer</span>
                }
            </div>
            <div class="tab-pane" id="forslag">
            @if (Model.Suggestions != null && Model.Suggestions.Count > 0)
            {
                <div class="row">
                    <div class="col-lg-4"><b>Tittel</b></div>
                    <div class="col-lg-3"><b>Eier</b></div>
                    <div class="col-lg-2"><b>Utgave</b></div>
                    <div class="col-lg-3"><b>Status</b></div>
                </div>
                foreach (var suggestion in Model.Suggestions)
                {
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="~/tegneregler/Edit/@suggestion.SystemId">@suggestion.Name</a>
                        </div>
                        <div class="col-lg-3">@suggestion.OwnerOrganization</div>
                        <div class="col-lg-2">@suggestion.VersionId</div>
                        <div class="col-lg-3">@CodeList.Status[suggestion.Status]</div>
                    </div>
                }
            }
            else
            {
                <span>Ingen filer</span>
            }
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
    <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="~/tegneregler/Files?uuid=@Model.CurrentVersion.DatasetUuid">Tilbake</a>

</div>