@using Geonorge.Kartografi.Services
@model Geonorge.Kartografi.Models.CartographyFile

@{
    ViewBag.Title = "Detaljer";
}
@section breadcrumb {
    <li><a href="~/tegneregler/">Digital kartografi</a></li>
    <li><a href="~/tegneregler/Details/@Model.SystemId">@Model.Name</a></li>
    <li>Detaljer</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<div class="row">
        <div class="col-sm-2">
            <a href="@Model.FileUrl()" target="_blank">
                <img src="@Model.PreviewImageUrl()" />
            </a>
        </div>
        
        <div class="col-no-padding-xs col-sm-4">
            <p><span>Endret: </span>@Model.DateChanged.ToString("dd.MM.yyyy")</p>
            @if (ViewBag.IsAdmin)
            {
                <p><span>Redigert av: </span>@Model.LastEditedBy</p>
            }
            <p><span>Eier: </span>@Model.Owner</p>     
        </div>

            
    <div class="col-sm-2">
        <a href="@Model.FileUrl()" class="btn" style="vertical-align:top;" target="_blank">
            <span class="glyphicon glyphicon-download-alt"> </span>Last ned
        </a>
    </div>
    <div class="col-no-padding-xs col-sm-4">
        <p><span>Beskrivelse: </span>@Model.Description</p>
        <p><span>Bruksområde: </span>@Model.Use</p>
        <p><span>Viktig egenskap for kartografien: </span>@Model.Properties</p>
        <p><span>Offisiell: </span>@(Model.OfficialStatus ? "Ja" : "Nei")</p>
        <p><span>Status: </span>@CodeList.Status[Model.Status]</p>
        <p><span>Versjon: </span>@Model.VersionId</p>
        <p><span>Datasett: </span>@Model.DatasetName</p>
        <p><span>Datasetteier: </span>@Model.OwnerDataset</p>
        <p><span>Tjeneste: </span>@Model.ServiceName</p>
    </div>

    <div class="col-sm-12">
        @Html.Partial("_Sld", Model)
    </div>

    <div class="col-sm-12 hidden-print">
        <hr />

        @if (ViewBag.HasAccess)
        {
            <a class="btn btn-default btn-space pull-right" href="~/tegneregler/Edit/@Model.SystemId" style="margin-left: 15px;">Rediger</a>
            <a class="btn btn-default btn-space pull-right" href="~/tegneregler/Delete/@Model.SystemId">Slett</a>
        }
        <a class="hidden-print" href="~/tegneregler/Details/@Model.SystemId">Tilbake</a>

    </div>
</div>