@section breadcrumb {
    <li>Digital kartografi</li>
}
@{
    ViewBag.Title = "Digital kartografi";
}
@Html.Partial("_SearchBarPartial")
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Digital kartografi
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div class="row">

    <div class="col-no-padding-xs col-xs-12 col-sm-10 col-md-10 col-lg-10">
        Registeret inneholder datasett som har registrert digital kartografi
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="col-md-8">
            <form>
                <br />
                <input type="checkbox" name="limitofficial" @(ViewBag.limitofficial ? "checked" : "") value="True" onchange="form.submit();" /> Vis kun offisielle
                <input type="hidden" name="text" value="@ViewBag.text" />
            </form>
        </div>
        <div class="col-md-4">
            <div class="save-as-menu">
                <label>Lagre som:</label>
                <div class="no-padding-bottom save-as-dropdown">
                    <div class="custom-select">
                        <select onchange="additionalView(this.value)" class="form-control">
                            <option value="csvUrl" selected="selected">CSV</option>
                        </select>
                    </div>
                </div>
                <div id="saveButtons" class="no-padding-bottom save-as-buttons">
                    @{ string urlCSV = (!HttpContext.Current.Request.Url.Host.Contains("localhost") ? "/kartografi" : "") + "/api/kartografi?mediatype=csv&text=" + Request.QueryString["text"] + "&limitofficial="+ ViewBag.limitofficial.ToString();}
                    <a class="btn" id="csvUrl" href="@urlCSV">Lagre</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <a id="expand-all-button" class="margin-top-10"><span class="arrow-icon"></span><span class="button-text"></span></a>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="tableView" class="search-results">
            <div class="row search-results-table-heading">
                <div class="col-sm-4"><p>@Html.ActionLink("Tittel", "Index", new { sortOrder = ViewBag.DatasetNameSortParm, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("datasetname") ? (ViewBag.DatasetNameSortParm.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-4"><p>@Html.ActionLink("Eier", "Index", new { sortOrder = ViewBag.DatasetOwner, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("datasetowner") ? (ViewBag.DatasetNameSortParm.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-2"><p>@Html.ActionLink("Tema", "Index", new { sortOrder = ViewBag.Theme, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("theme") ? (ViewBag.DatasetNameSortParm.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-1"><p>Offisiell</p></div>
                <div class="col-sm-1"><p>Format</p></div>
            </div>


            <div class="menu-separator search-results-table-heading"></div>
            <div id="cartographylist" class="scroll">
                <div class="next"><a href="@VirtualPathUtility.ToAbsolute("~/Files/CartographyList?page=")@(ViewBag.Page)&sortOrder=@(ViewBag.SortOrder)&limitofficial=@ViewBag.limitofficial.ToString()&text=@ViewBag.text">Laster...</a></div>
            </div>
         </div>
       
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="/">Tilbake</a>
        @if (Request.IsAuthenticated)
        {
            <a class="btn btn-default btn-space pull-right" href="~/Files/Create">Legg til</a>
        }

    </div>
</div>
<script>

    function ToogleContent(element)
    {
        if ($(element).hasClass("active")) {
            $(element).removeClass("active");
            $(element).closest(".dataset-list").removeClass("active");
        } else {
            $(element).addClass("active");
            $(element).closest(".dataset-list").addClass("active");
        }
    }

    $(document).ready(function () {

        $("#expand-all-button").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(".dataset-list").removeClass("active");
                $(".toggle-content-button").removeClass("active");
            } else {
                $(this).addClass("active");
                $(".dataset-list").addClass("active");
                $(".toggle-content-button").addClass("active");
            }
        })
    })
</script>
<script src="@VirtualPathUtility.ToAbsolute("~/Scripts/jquery.jscroll.js")"></script>
<script>
      $(function () {
        $('#cartographylist').jscroll({
        });
      });
</script>
